body {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.content-section {
  max-width: 1260px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 1260px) {
  .content-section {
    padding: 0 42px;
  }
}
@media (max-width: 1024px) {
  .content-section {
    padding: 0;
    max-width: 940px;
  }
}
.sort__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .sort__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 1023px) {
  .sort__items {
    display: none;
  }
}
.sort__item {
  margin-right: 20px;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  color: #dcdcdc;
}
.sort__item:active {
  color: #dcdcdc;
}
.sort__item-active,
.sort__item-active:active,
.sort__item:hover {
  color: #40a035;
}
.content-section .button {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #40a035;
  border-radius: 3px;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.pagination__wrapper {
  margin-bottom: 80px;
}
.link__back {
  text-decoration: none;
  color: #40a035;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  cursor: pointer;
  display: inline-block;
}
.link__back:hover {
  text-decoration: none;
}
.link__back:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #40a035;
  border-right-color: transparent;
  border-top-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 6px;
}
.title__section {
  color: #353535;
  font-size: 36px;
  line-height: 40px;
  font-family: "Museo-500", Arial, sans-serif;
  margin-bottom: 40px;
  letter-spacing: 0.02em;
}
.section__image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 40px;
}
.section__image__wrapper .image__wrapper {
  width: 420px;
  margin-right: 20px;
}
.section__image__wrapper .image__wrapper:last-child {
  margin-right: 0;
}
.section__image__wrapper .image__wrapper img {
  width: 100%;
  height: auto;
}
.section__text__info-news {
  font-size: 16px;
  line-height: 19px;
  color: #a3a3a3;
  font-family: "Museo-300", Arial, sans-serif;
  margin-bottom: 40px;
}
.section__text__p {
  font-size: 16px;
  line-height: 28px;
  color: #353535;
  font-family: "Museo-300", Arial, sans-serif;
  margin-bottom: 20px;
}
.section__text__bold {
  font-size: 18px;
  line-height: 26px;
  color: #353535;
  font-family: "Museo-500", Arial, sans-serif;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: normal;
}
.section__text__link {
  color: #40a035;
  font-size: 14px;
  line-height: 17px;
  font-family: "Museo-300", Arial, sans-serif;
  margin-bottom: 26px;
  text-decoration: none;
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.section__text__link:hover {
  text-decoration: underline;
}
.section__text__link:before {
  content: '';
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  background: url("../img/icons/link.svg") no-repeat 50% 50%;
}
.content-section-detailed {
  max-width: 860px;
}
.section__main__image {
  width: 100%;
  margin-bottom: 20px;
}
.section__main__image img {
  width: 100%;
  height: auto;
}
.section__main__image+.title__section {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}
.tabs__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #dcdcdc;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .tabs__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.tabs__items .tab__item {
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
  margin-right: 40px;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  color: #dcdcdc;
  position: relative;
  white-space: nowrap;
}
.tabs__items .tab__item:active {
  color: #dcdcdc;
}
.tabs__items .tab__item-active,
.tabs__items .tab__item-active:active {
  border-bottom-color: #40a035;
  color: #40a035;
}
.tabs__items .tab__item:hover {
  color: #40a035;
}
@media (max-width: 768px) {
  .tabs__items .tab__item:nth-child(n+5):not(.tab__item-more) {
    display: none;
  }
}
.tabs__items .tab__item-more {
  display: none;
}
.tabs__items .tab__item .sub-tabs__items {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 4px rgba(53,53,53,0.15);
  box-shadow: 3px 3px 4px rgba(53,53,53,0.15);
  border-radius: 3px;
  min-width: 164px;
  max-width: 200px;
}
.tabs__items .tab__item .sub-tabs__items:hover {
  display: block;
}
.tabs__items .tab__item .sub-tabs__items .sub-tab__item {
  padding: 10px 20px;
  display: block;
  font-family: "Museo-300", Arial, sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
}
.tabs__items .tab__item .sub-tabs__items .sub-tab__item:hover {
  background: rgba(64,160,53,0.1);
}
@media (max-width: 1023px) {
  .tabs__items {
    display: none;
  }
}
.choices {
  display: none;
  width: calc(100% - 20px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 20px auto;
  font-size: 14px;
  line-height: 18px;
  color: #3a393c;
  font-family: "Museo-300", Arial, sans-serif;
}
.choices .choices__inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 20px;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 2px;
}
.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 16px;
}
.choices .choices__list--dropdown .choices__item--selectable:after {
  display: none;
}
.choices .choices__list--dropdown {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  width: 99%;
}
.choices .choices__list--dropdown .choices__item--selectable {
  padding: 10px 20px;
  font-size: 13px;
  background-color: #fff;
}
.choices .choices__list--dropdown .choices__item--selectable.is-selected {
  color: #40a035;
}
.choices .choices__list--dropdown .choices__item--selectable:hover {
  background-color: rgba(64,160,53,0.1);
}
@media (max-width: 450px) {
  .choices {
    display: block;
  }
}
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: fkex-start;
  align-content: fkex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 450px) {
  .news__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.news__item {
  width: 300px;
  min-width: 300px;
  margin-right: 20px;
  margin-bottom: 40px;
  text-decoration: none;
}
@media (min-width: 1261px) {
  .news__item:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media (max-width: 1260px) and (min-width: 1024px) {
  .news__item:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (max-width: 1022px) and (min-width: 620px) {
  .news__item:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media (max-width: 620px) {
  .news__item {
    margin-right: 0;
  }
}
.news__img__wrapper {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
}
.news__img__wrapper img {
  width: 100%;
  height: auto;
}
.news__info {
  font-size: 14px;
  line-height: 17px;
  font-family: "Museo-300", Arial, sans-serif;
  color: #a3a3a3;
  margin-bottom: 10px;
}
.news__title {
  font-size: 16px;
  line-height: 26px;
  color: #353535;
  font-family: "Museo-500", Arial, sans-serif;
}
.mailing-form__wrapper {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 80px;
  margin-bottom: 100px;
  position: relative;
}
@media (max-width: 1024px) {
  .mailing-form__wrapper {
    padding: 40px 20px;
  }
}
.mailing-form__wrapper:after {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  right: 30px;
  background: url("../img/icons/mailing-form-bg.svg");
}
.mailing-form__text {
  font-size: 14px;
  line-height: 17px;
  font-family: "Museo-300", Arial, sans-serif;
  color: #a3a3a3;
  margin-bottom: 8px;
}
.mailing-form__title {
  font-size: 24px;
  line-height: 34px;
  color: #353535;
  font-family: "Museo-500", Arial, sans-serif;
  margin-bottom: 30px;
}
.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.mailing-form .input__wrapper {
  width: 100%;
  max-width: 380px;
  padding: 21px 30px 20px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  font-family: "Museo-300", Arial, sans-serif;
  margin-right: 20px;
}
.mailing-form .input__wrapper input[type="text"] {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
}
.mailing-form .input__wrapper input[type="text"]:placeholder {
  color: #a3a3a3;
  font-family: "Museo-300", Arial, sans-serif;
}
.mailing-form .button {
  width: 220px;
  height: 60px;
  padding: 23px 0 20px 0;
  background-color: #641b51;
  border: none;
}
@media (max-width: 1024px) {
  .mailing-form {
    -webkit-margin-after: 0;
    margin-block-end: 0;
  }
  .mailing-form__wrapper {
    margin-bottom: 80px;
    padding: 50px 40px;
  }
  .mailing-form__text {
    font-size: 14px;
    line-height: 17px;
  }
  .mailing-form__title {
    font-size: 24px;
    line-height: 34px;
  }
  .mailing-form .input__wrapper {
    max-width: 380px;
    margin-right: 20xp;
    margin-bottom: 0;
  }
  .mailing-form .button {
    width: 100%;
    max-width: 220px;
  }
}
@media (max-width: 768px) {
  .mailing-form__wrapper {
    margin-bottom: 80px;
    max-width: 620px;
  }
}
@media (max-width: 450px) {
  .mailing-form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .mailing-form__wrapper {
    max-width: 300px;
    padding: 40px 20px;
  }
  .mailing-form__wrapper:after {
    width: 50px;
    height: 50px;
    background-size: cover;
    top: -25px;
    right: 20px;
  }
  .mailing-form__title {
    font-size: 20px;
    line-height: 24px;
  }
  .mailing-form__text {
    font-size: 12px;
    line-height: 14px;
  }
  .mailing-form .input__wrapper {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .mailing-form .button {
    max-width: 100%;
    font-size: 12px;
    line-height: 14px;
  }
}
.cards__section {
  overflow-x: auto;
  width: 100%;
}
.cards__items__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 450px) {
  .cards__items__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.cards__items__wrapper .card__wrapper {
  width: 399px;
  border: 1px solid #d3d4d7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 30px 13px 20px 13px;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 12.5px;
  line-height: 15px;
  margin-right: 31.3px;
}
@media (max-width: 450px) {
  .cards__items__wrapper .card__wrapper {
    width: 100%;
    max-width: 300px;
    margin-right: 0;
    margin-bottom: 40px;
    padding: 23px 17px 15px 18px;
  }
}
.cards__items__wrapper .card__wrapper:last-child {
  margin-right: 0;
}
.cards__items__wrapper .card__wrapper a.card__text-green {
  text-decoration: underline;
  margin-bottom: 15px;
  margin-top: 8px;
  display: block;
  text-align: right;
}
.cards__items__wrapper .card__wrapper a.button {
  display: block;
  text-decoration: none;
}
.cards__items__wrapper .card__image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 26px;
}
.cards__items__wrapper .card__image__info {
  margin-right: 15px;
}
@media (max-width: 450px) {
  .cards__items__wrapper .card__image__info {
    display: none;
  }
}
.cards__items__wrapper .card__image__corp {
  width: 86px;
  height: 86px;
  background: url("../img/icons/corp-bg.svg") no-repeat 50% 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 23px;
  color: #fff;
  margin-bottom: 12px;
}
.cards__items__wrapper .card__image__corp .corp {
  font-family: "Museo-500", Arial, sans-serif;
  font-weight: bold;
  font-size: 26.5px;
  line-height: 30px;
}
.cards__items__wrapper .card__image__standart {
  width: 86px;
  height: 86px;
  background: url("../img/icons/standart-bg.svg") no-repeat 50% 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  line-height: 120%;
  font-family: "Museo-500", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.cards__items__wrapper .card__image {
  width: 270px;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.cards__items__wrapper .card__image img {
  width: auto;
  max-width: 270px;
  height: 100%;
  max-height: 264px;
}
.cards__items__wrapper .card__title {
  font-size: 19px;
  line-height: 23px;
  color: #3a393c;
  text-align: center;
  font-family: "Museo-500", Arial, sans-serif;
  margin-bottom: 7px;
}
.cards__items__wrapper .card__subtitle {
  font-size: 12.5px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.26px;
  color: #c4c4c4;
  font-family: "Museo-500", Arial, sans-serif;
  margin-bottom: 28px;
}
.cards__items__wrapper .card__row {
  font-family: "Museo-500", Arial, sans-serif;
  font-size: 12.5px;
  line-height: 15px;
  color: #3a393c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 8.6px 0;
  border-bottom: 1px solid #d3d4d7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cards__items__wrapper .card__row+.card__text-gray {
  margin-top: 12px;
}
.cards__items__wrapper .card__row-price {
  margin-bottom: 22px;
  padding: 0;
  border-bottom: none;
}
.cards__items__wrapper .card__text-small {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.26px;
  font-family: "Museo-500", Arial, sans-serif;
  text-align: right;
}
.cards__items__wrapper .card__text-gray {
  color: #c4c4c4;
}
.cards__items__wrapper .card__text-green {
  color: #3ea938;
}
.cards__items__wrapper .card__text--medium {
  font-size: 28px;
  line-height: 34px;
  font-family: "Museo-500", Arial, sans-serif;
  color: #3a393c;
}
.section__action-panel {
  position: absolute;
  right: -220px;
}
@media (max-width: 1366px) {
  .section__action-panel {
    right: -40px;
  }
}
@media (max-width: 1023px) {
  .section__action-panel {
    display: none;
  }
}
.section__action-panel a {
  text-decoration: none;
}
.section__action__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 20px;
}
.section__action__item:last-child {
  margin-bottom: 0;
}
.section__action__icon {
  width: 30px;
  height: 30px;
  display: block;
}
.section__action__icon img {
  width: 100%;
  height: auto;
}
.section__action__icon+.section__action__text {
  margin-left: 10px;
}
.section__action__text {
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #a3a3a3;
}
@media (max-width: 1366px) {
  .section__action__text {
    display: none;
  }
}
.section__action__social {
  margin-bottom: 60px;
}
@media (max-width: 1366px) {
  .section__action-buttons {
    display: none;
  }
}
.video__wrapper {
  margin-bottom: 40px;
  width: 100%;
  height: 512px;
}
.key-phrase__wrapper {
  background-color: #f8f8f8;
  border-radius: 3px;
  color: #353535;
  font-size: 20px;
  line-height: 34px;
  font-family: "Museo-500", Arial, sans-serif;
  padding: 50px 60px;
  margin-bottom: 40px;
}
.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 68px;
  height: 416px;
}
.main-slider .slick-list {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
}
.main-slider .slick-slide img {
  width: 100%;
}
.line__wrapper {
  width: 220px;
  height: 4px;
  border-radius: 4px;
  background-color: #40a035;
  margin-bottom: 40px;
}
.quote__wrapper {
  background-color: #f8f8f8;
  border-radius: 3px;
  color: #353535;
  font-size: 16px;
  line-height: 28px;
  font-family: "Museo-300", Arial, sans-serif;
  padding: 40px 80px 60px 80px;
  margin-bottom: 155px;
  position: relative;
  text-align: center;
}
.quote__wrapper .quote__author {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -115px;
}
.quote__wrapper .author__img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 8px;
}
.quote__wrapper .author__img img {
  width: 100%;
  height: auto;
}
.quote__wrapper .author__name {
  font-size: 16px;
  line-height: 28px;
  color: #353535;
  font-family: "Museo-500", Arial, sans-serif;
}
.quote__wrapper .author__position {
  font-size: 16px;
  line-height: 19px;
  color: #a3a3a3;
  font-family: "Museo-300", Arial, sans-serif;
}
.action__panel-mob {
  display: none;
}
@media (max-width: 1024px) {
  .action__panel-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: rgba(100,27,81,0.05);
    padding: 20px 80px;
    margin-bottom: 92px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .action__panel-mob .action__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #641b51;
    font-family: "Museo-300", Arial, sans-serif;
  }
  .action__panel-mob .action__icon {
    width: 30px;
    min-width: 30px;
    height: 30px;
  }
  .action__panel-mob .action__icon img {
    width: 100%;
    height: auto;
  }
  .action__panel-mob .action__icon+.action__text,
  .action__panel-mob .action__text+.action__icon {
    margin-left: 20px;
  }
}
.social__panel-mob {
  display: none;
}
@media (max-width: 1023px) {
  .social__panel-mob {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 40px;
  }
  .social__panel-mob .social__btn {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .social__panel-mob .social__btn:last-child {
    margin-right: 0;
  }
  .social__panel-mob .social__btn img {
    width: 100%;
    height: auto;
  }
  .social__panel-mob .social__panel__text {
    color: #353535;
    font-size: 16px;
    line-height: 26px;
    font-family: "Museo-300", Arial, sans-serif;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .content-section {
    max-width: 620px;
  }
  .video__wrapper {
    height: 368px;
  }
  .key-phrase__wrapper {
    padding: 50px 30px;
  }
  .quote__wrapper {
    padding: 40px 32px 70px 32px;
    margin-bottom: 145px;
  }
  .quote__wrapper .quote__author {
    bottom: -100px;
  }
  .action__panel-mob {
    padding: 20px;
  }
  .main-slider {
    height: auto;
  }
}
@media (max-width: 767px) {
  .link__back {
    padding-left: 10px;
  }
  .content-section-detailed {
    padding: 0;
  }
  .section__main__image,
  .title__section,
  .section__text__info-news,
  .section__text__p,
  .section__image__wrapper,
  .video__wrapper,
  .section__text__bold,
  .main-slider {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .section__text__p+.section__image__wrapper {
    margin-top: 20px;
  }
  .section__image__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .section__image__wrapper .image__wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .section__image__wrapper .image__wrapper:last-child {
    margin-bottom: 0;
  }
  .video__wrapper {
    width: 100%;
    height: 183px;
    margin-bottom: 20px;
  }
  .key-phrase__wrapper {
    padding: 40px 10px;
    font-size: 18px;
    line-height: 32px;
  }
  .main-slider .slick-arrow {
    display: none !important;
  }
  .quote__wrapper {
    padding: 40px 10px 60px 10px;
    margin-bottom: 130px;
  }
  .quote__wrapper .quote__author {
    bottom: -90px;
  }
  .quote__wrapper .author__img {
    width: 80px;
    height: 80px;
  }
  .content-section .title__section {
    font-size: 30px;
    line-height: 42px;
    max-width: 300px;
  }
  .section__main__image+.title__section {
    font-size: 24px;
    line-height: 36px;
  }
  .cards__items__wrapper .card__image__wrapper {
    margin-bottom: 21px;
  }
  .cards__items__wrapper .card__row {
    padding: 10px 0 7px 0;
  }
  .cards__items__wrapper .card__subtitle {
    margin-bottom: 10px;
  }
  .cards__items__wrapper .card__wrapper a.card__text-green {
    margin-bottom: 11px;
  }
  .cards__items__wrapper .card__row-price {
    margin-bottom: 0;
    padding: 0;
  }
  .cards__items__wrapper .card__row-price .card__text-small {
    max-width: 101px;
    text-align: left;
  }
  .cards__items__wrapper .button {
    padding: 10px 0 11px 0;
    font-size: 11px;
    line-height: 13px;
  }
  .social__panel-mob {
    margin-bottom: 40px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .social__panel-mob .social__panel__text {
    display: none;
  }
  .action__panel-mob {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 0;
    margin-bottom: 85px;
  }
  .action__panel-mob .action__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    background: rgba(100,27,81,0.05);
    margin-bottom: 20px;
  }
  .action__panel-mob .action__item:first-child {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

/*# sourceMappingURL=maps/style.css.map */
