.tabs__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #dcdcdc;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .tabs__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.tabs__items .tab__item {
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
  margin-right: 40px;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  color: #dcdcdc;
  position: relative;
  white-space: nowrap;
}
.tabs__items .tab__item:active {
  color: #dcdcdc;
}
.tabs__items .tab__item-active,
.tabs__items .tab__item-active:active {
  border-bottom-color: #40a035;
  color: #40a035;
}
.tabs__items .tab__item:hover {
  color: #40a035;
}
@media (max-width: 768px) {
  .tabs__items .tab__item:nth-child(n+5):not(.tab__item-more) {
    display: none;
  }
}
.tabs__items .tab__item-more {
  display: none;
}
.tabs__items .tab__item .sub-tabs__items {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 4px rgba(53,53,53,0.15);
  box-shadow: 3px 3px 4px rgba(53,53,53,0.15);
  border-radius: 3px;
  min-width: 164px;
  max-width: 200px;
}
.tabs__items .tab__item .sub-tabs__items:hover {
  display: block;
}
.tabs__items .tab__item .sub-tabs__items .sub-tab__item {
  padding: 10px 20px;
  display: block;
  font-family: "Museo-300", Arial, sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
}
.tabs__items .tab__item .sub-tabs__items .sub-tab__item:hover {
  background: rgba(64,160,53,0.1);
}
@media (max-width: 1023px) {
  .tabs__items {
    display: none;
  }
}

/*# sourceMappingURL=maps/tabs.css.map */
