body
  margin: 0
  padding: 0
  box-sizing: border-box
a
  color: black;
  text-transform: none
  text-decoration: none
  &:hover
    color: black
ul,li
  margin: 0
  padding: 0
  list-style-type: none
h1, h2
  margin: 0
  padding: 0
