.pagination__wrapper
  display: flex
  justify-content: center
.pagination__wrapper ul
  margin: 0
  display: flex
  padding: 0

.pagination__wrapper ul li
  color: #A3A3A3
  list-style: none
  text-align: center
  font-size: 16px
  line-height: 26px
  cursor: pointer
  font-family: "Museo-300", Arial, sans-serif

.pagination__wrapper ul li.numb
  list-style: none
  line-height: 26px
  margin-right: 20px


.pagination__wrapper ul li.dots
  font-size: 16px
  cursor: default
  margin-right: 20px

.pagination__wrapper ul li.prev
  margin-right: 20px

.pagination__wrapper li.active,
.pagination__wrapper ul li.numb:hover,
.pagination__wrapper ul li:first-child:hover,
.pagination__wrapper ul li:last-child:hover
  color: #3E9134


