@import './mixin/flex.styl'

body
  width: 100%
  margin: 0
  box-sizing: border-box
ul,li
  margin: 0
  padding: 0

.content-section
  max-width: 1260px
  margin: 0 auto
  box-sizing: border-box
  position: relative
  @media(max-width: 1260px)
    padding: 0 42px
  @media(max-width: 1024px)
    padding: 0
    max-width: 940px
.sort
  &__items
    flex()
    width: 100%
    font-family: "Museo-300", Arial, sans-serif
    font-size: 16px
    line-height: 19px
    margin-bottom: 40px
    @media(max-width: 1024px)
      flex-wrap: wrap
    @media(max-width: 1023px)
      display: none
  &__item
    margin-right: 20px
    cursor: pointer
    text-transform: none
    text-decoration: none
    color: #DCDCDC
    &:active
      color: #DCDCDC
    &-active, &-active:active, &:hover
      color: #40A035

.content-section .button
  width: 100%
  text-align: center
  text-transform: uppercase
  background-color: #40A035
  border-radius: 3px
  font-size: 14px
  line-height: 17px
  padding: 15px 0
  box-sizing: border-box
  border: 1px solid transparent
  color: #fff
  outline: none
  cursor: pointer

.pagination__wrapper
  margin-bottom: 80px

.link__back
  text-decoration: none
  color: #40a035
  font-family: "Museo-300", Arial, sans-serif
  font-size: 16px
  line-height: 19px
  margin-bottom: 20px
  cursor: pointer
  display: inline-block

.link__back:hover
  text-decoration: none
.link__back:before
  content: ''
  display: inline-block
  width: 10px
  height: 10px
  border: 1px solid #40a035
  border-right-color: transparent
  border-top-color: transparent
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)
  margin-right: 6px

.title__section
  color: #353535
  font-size: 36px
  line-height: 40px
  font-family: "Museo-500", Arial, sans-serif
  margin-bottom: 40px
  letter-spacing: 0.02em

.section__image__wrapper
  flex()
  margin-bottom: 40px
  .image__wrapper
    width: 420px
    margin-right: 20px
    &:last-child
      margin-right: 0
    img
      width: 100%
      height: auto
.section__text
  &__info-news
    font-size: 16px
    line-height: 19px
    color: #A3A3A3
    font-family: "Museo-300", Arial, sans-serif
    margin-bottom: 40px
  &__p
    font-size: 16px
    line-height: 28px
    color: #353535
    font-family: "Museo-300", Arial, sans-serif
    margin-bottom: 20px
  &__bold
    font-size: 18px
    line-height: 26px
    color: #353535
    font-family: "Museo-500", Arial, sans-serif
    margin: 0 0 20px 0
    padding: 0
    font-weight: normal
  &__link
    color: #40A035
    font-size: 14px
    line-height: 17px
    font-family: "Museo-300", Arial, sans-serif
    margin-bottom: 26px
    text-decoration: none
    display: block
    position: relative
    flex(flex-start, center, row)
    &:hover
      text-decoration: underline
    &:before
      content: ''
      display: inline-block
      margin-right: 12px
      width: 24px
      height: 24px
      background: url("../img/icons/link.svg") no-repeat 50% 50%


.content-section-detailed
  max-width: 860px
.section__main__image
  width: 100%
  margin-bottom: 20px
  img
    width: 100%
    height: auto
  &+.title__section
    font-size: 30px
    line-height: 36px
    margin-bottom: 20px


@import "tabs.styl"
@import "content/choice.styl"
@import "content/news_items.styl"
@import "content/mailing-form.styl"
@import "content/cards.styl"

.section__action
  &-panel
    position: absolute
    right: -220px
    @media(max-width: 1366px)
      right: -40px
    @media(max-width: 1023px)
      display: none
    a
      text-decoration: none
  &__item
    flex(flex-start, center, row)
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0
  &__icon
    width: 30px
    height: 30px
    display: block
    img
      width: 100%
      height: auto
    &+.section__action__text
      margin-left: 10px
  &__text
    font-family: "Museo-300", Arial, sans-serif
    font-size: 16px
    line-height: 19px
    text-decoration: none
    color: #A3A3A3
    @media(max-width: 1366px)
      display: none
  &__social
    margin-bottom: 60px
  &-buttons
    @media(max-width: 1366px)
      display: none
.video__wrapper
  margin-bottom: 40px
  width: 100%
  height: 512px
.key-phrase__wrapper
  background-color: #f8f8f8
  border-radius: 3px
  color: #353535
  font-size: 20px
  line-height: 34px
  font-family: "Museo-500", Arial, sans-serif
  padding: 50px 60px
  margin-bottom: 40px
.main-slider
  flex(flex-start, center, row)
  margin-bottom: 68px
  height: 416px
  .slick-list
    flex-grow: 1
    height: 100%
  .slick-slide img
    width: 100%
.line__wrapper
  width: 220px
  height: 4px
  border-radius: 4px
  background-color: #40A035
  margin-bottom: 40px

.quote__wrapper
  background-color: #f8f8f8
  border-radius: 3px
  color: #353535
  font-size: 16px
  line-height: 28px
  font-family: "Museo-300", Arial, sans-serif
  padding: 40px 80px 60px 80px
  margin-bottom: 155px
  position: relative
  text-align: center
  .quote__author
    position: absolute
    left: 0
    right: 0
    bottom: -115px
  .author__img
    width: 100px
    height: 100px
    margin: 0 auto
    border-radius: 50%
    margin-bottom: 8px
    img
      width: 100%
      height: auto
  .author__name
    font-size: 16px
    line-height: 28px
    color: #353535
    font-family: "Museo-500", Arial, sans-serif
  .author__position
    font-size: 16px
    line-height: 19px
    color: #a3a3a3
    font-family: "Museo-300", Arial, sans-serif

.action__panel-mob
  display: none
  @media(max-width: 1024px)
    flex(space-between, center, row)
    background-color: rgba(100, 27, 81, 0.05)
    padding: 20px 80px
    margin-bottom: 92px
    box-sizing: border-box
    .action__item
      flex(flex-start, center, row)
      box-sizing: border-box
      text-decoration: none
      color: #641B51
      font-family: "Museo-300", Arial, sans-serif
    .action__icon
      width: 30px
      min-width: 30px
      height: 30px
      img
        width: 100%
        height: auto
    .action__icon+.action__text,
    .action__text+.action__icon
      margin-left: 20px

.social__panel-mob
  display: none
  @media(max-width: 1023px)
    width: 100%
    flex(flex-end, center, row)
    margin-bottom: 40px
    .social__btn
      width: 30px
      min-width: 30px
      height: 30px
      margin-right: 20px
      &:last-child
        margin-right: 0
      img
        width: 100%
        height: auto
    .social__panel__text
      color: #353535
      font-size: 16px
      line-height: 26px
      font-family: "Museo-300", Arial, sans-serif
      margin-right: 20px
@media(max-width: 768px)
  .content-section
    max-width: 620px
  .video__wrapper
    height: 368px
  .key-phrase__wrapper
    padding: 50px 30px
  .quote__wrapper
    padding: 40px 32px 70px 32px
    margin-bottom: 145px
  .quote__wrapper .quote__author
    bottom: -100px
  .action__panel-mob
    padding: 20px
  .main-slider
    height: auto
@media(max-width: 767px)
  .link__back
    padding-left: 10px
  .content-section-detailed
    padding: 0
  .section__main__image,
  .title__section,
  .section__text__info-news,
  .section__text__p,
  .section__image__wrapper,
  .video__wrapper,
  .section__text__bold,
  .main-slider
    padding-left: 10px
    padding-right: 10px
    box-sizing: border-box
  .section__text__p+.section__image__wrapper
    margin-top: 20px
  .section__image__wrapper
    flex-wrap: wrap
    .image__wrapper
      width: 100%
      margin-right: 0
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .video__wrapper
    width: 100%
    height: 183px
    margin-bottom: 20px
  .key-phrase__wrapper
    padding: 40px 10px
    font-size: 18px
    line-height: 32px
  .main-slider .slick-arrow
    display: none !important
  .quote__wrapper
    padding: 40px 10px 60px 10px
    margin-bottom: 130px
  .quote__wrapper .quote__author
    bottom: -90px
  .quote__wrapper .author__img
    width: 80px
    height: 80px
  .content-section
    .title__section
      font-size: 30px
      line-height: 42px
      max-width: 300px
  .section__main__image+.title__section
      font-size: 24px
      line-height: 36px
  .cards__items__wrapper .card__image__wrapper
    margin-bottom: 21px
  .cards__items__wrapper .card__row
    padding: 10px 0 7px 0
  .cards__items__wrapper .card__subtitle
    margin-bottom: 10px
  .cards__items__wrapper .card__wrapper a.card__text-green
    margin-bottom: 11px
  .cards__items__wrapper .card__row-price
    margin-bottom: 0
    padding: 0
  .cards__items__wrapper .card__row-price .card__text-small
    max-width: 101px
    text-align: left
  .cards__items__wrapper .button
    padding: 10px 0 11px 0
    font-size: 11px
    line-height: 13px
  .social__panel-mob
    margin-bottom: 40px
    padding: 0 10px
    box-sizing: border-box
  .social__panel-mob .social__panel__text
    display: none
  .action__panel-mob
    flex-wrap: wrap
    background-color: #fff
    padding: 0
    margin-bottom: 85px
    .action__item
      justify-content: center
      padding: 20px 0
      width: 100%
      background: rgba(100, 27, 81, 0.05)
      margin-bottom: 20px
      &:first-child
        margin-bottom: 0
        order: 1

