@import './mixin/flex.styl'

.tabs__items
  width: 100%
  flex()
  border-bottom: 1px solid #DCDCDC
  font-family: "Museo-300", Arial, sans-serif
  font-size: 16px
  line-height: 19px
  margin-bottom: 20px
  box-sizing: border-box
  @media(max-width: 1024px)
    flex-wrap: wrap
  .tab__item
    padding-bottom: 20px
    border-bottom: 2px solid transparent
    margin-right: 40px
    cursor: pointer
    text-transform: none
    text-decoration: none
    color: #DCDCDC
    position: relative
    white-space: nowrap
    &:active
      color: #DCDCDC
    &-active, &-active:active
      border-bottom-color: #40A035
      color: #40A035
    &:hover
      color: #40A035
    @media(max-width: 768px)
      &:nth-child(n+5):not(.tab__item-more)
        display: none
    &-more
      display: none
    .sub-tabs__items
      display: none
      position: absolute
      top: 25px
      left: 0
      background-color: #FFF
      border: 1px solid #DCDCDC
      box-sizing: border-box
      box-shadow: 3px 3px 4px rgba(53, 53, 53, 0.15)
      border-radius: 3px
      min-width: 164px
      max-width: 200px
      &:hover
        display: block
      .sub-tab__item
        padding: 10px 20px
        display: block
        font-family: "Museo-300", Arial, sans-serif
        text-decoration: none
        font-size: 16px
        line-height: 20px
        color: #353535
        &:hover
          background: rgba(64, 160, 53, 0.1)
  @media(max-width: 1023px)
    display: none