html
    head
        title Заголовок
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/slick.css")
        link(rel="stylesheet" href="css/slick-theme.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .content-section
            a(href="#").link__back Назад
        .content-section.content-section-detailed
            .section__action-panel
                .section__action__social
                    a(href="#").section__action__item
                        .section__action__icon
                            img(src="img/icons/fb.svg")
                        .section__action__text Поделиться
                    a(href="#").section__action__icon.section__action__item
                        img(src="img/icons/vk.svg")
                    a(href="#").section__action__icon.section__action__item
                        img(src="img/icons/whatsApp.svg")
                    a(href="#").section__action__icon.section__action__item
                        img(src="img/icons/teleg.svg")
                .section__action-buttons
                    a(href="#").section__action__item
                        .section__action__icon
                            img(src="img/icons/next.svg")
                        .section__action__text Следующая новость
                    a(href="#").section__action__item
                        .section__action__icon
                            img(src="img/icons/prev.svg")
                        .section__action__text Предыдущая новость
            .section__main__image
                img(src="img/detailed-news-main.png")
            .title__section ЖК “Юнтолово” и школа №469 в ЖК “Северная долина” признаны лидерами строительного качества
            .section__text__info-news 29 сен 2020 / Награды
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__image__wrapper
                .image__wrapper
                    img(src="img/card-1.png")
                .image__wrapper
                    img(src="img/card-2.png")
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__bold Две награды конкурса «Лидер строительного качества».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .video__wrapper
                iframe(width="100%" height="100%" src="https://www.youtube.com/embed/j0GEYOCCr4U")
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .key-phrase__wrapper В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020».  Школа №469 отмечена Гран-при как лучший объект социального назначения.
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .main-slider.main-slider__news
                .slide
                    img(src="img/slider/slide-1.png")
                .slide
                    img(src="img/slider/slide-1.png")
                .slide
                    img(src="img/slider/slide-1.png")
                .slide
                    img(src="img/slider/slide-1.png")
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .line__wrapper
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .quote__wrapper ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства», в Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469.
                .quote__author
                    .author__img
                        img(src="img/author.png")
                    .author__name Иванов Иван
                    .author__position Директор директоров
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            a(href="#").section__text__link Изменения в проектные декларации
            a(href="#").section__text__link Разрешения на ввод в эксплуатацию
            .social__panel-mob
                .social__panel__text Поделиться
                a(href="#").social__btn
                    img(src="img/icons/fb.svg")
                a(href="#").social__btn
                    img(src="img/icons/vk.svg")
                a(href="#").social__btn
                    img(src="img/icons/whatsApp.svg")
                a(href="#").social__btn
                    img(src="img/icons/teleg.svg")
            .action__panel-mob
                a(href="#").action__item
                    .action__icon
                        img(src="img/icons/prev.svg")
                    .action__text Предыдущая новость
                a(href="#").action__item
                    .action__text Следующая новость
                    .action__icon
                        img(src="img/icons/next.svg")
        .content-section
            include content/mailing-form
            .section__text__p.section__text__bold Читайте также
            .news__items
                a(href="#").news__item
                    .news__img__wrapper
                        img(src="img/card-1.png")
                    .news__info
                        span.news__date 29 сен 2020
                        | /
                        span.new__category Награды
                    .news__title «Главстрой Санкт-Петербург» вошел в число финалистов в конкурсе «Доверие потребителя»
                a(href="#").news__item
                    .news__img__wrapper
                        img(src="img/card-2.png")
                    .news__info
                        span.news__date 29 сен 2020
                        | /
                        span.new__category Награды
                    .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
                a(href="#").news__item
                    .news__img__wrapper
                        img(src="img/card-3.png")
                    .news__info
                        span.news__date 29 сен 2020
                        | /
                        span.new__category Старт продаж
                    .news__title «Главстрой Санкт-Петербург» открыл продажи шестой очереди ЖК «Юнтолово»
                a(href="#").news__item
                    .news__img__wrapper
                        img(src="img/card-4.png")
                    .news__info
                        span.news__date 29 сен 2020
                        | /
                        span.new__category Награды
                    .news__title ЖК «Юнтолово» — лучший региональный проект стандартного жилья в России
            .title__section Популярные квартиры
            .cards__section
                include content/cards
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/slick.min.js")
        script(src="js/slick-init.js")

