head
    title Заголовок
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/fonts.css")
    link(rel="stylesheet" href="./css/choices.min.css")
    link(rel="stylesheet" href="./css/tabs.css")
    link(rel="stylesheet" href="./css/pagination.css")
    link(rel="stylesheet" href="./css/style.css")



