html
    include head
    body
        .content-section
            a(href="#").link__back Назад
            .title__section Новости
            include content/tabs__items
            include content/sort__items
            include content/news__items
            include content/mailing-form
            include content/news__items
            .pagination__wrapper(data-total-pages=20 data-page=1)
                ul
            .title__section Популярные квартиры
            .cards__section
                include content/cards
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/choices.min.js")
        script(src="./js/script.js")
        script(src="./js/pagination.js")


