@import "../mixin/flex.styl"
.cards__section
  overflow-x: auto
  width: 100%
.cards__items__wrapper
  width: 100%
  flex()
  @media(max-width: 450px)
    flex-direction: column
    align-items: center
  .card
    &__wrapper
      width: 399px
      border: 1px solid #D3D4D7
      box-sizing: border-box
      border-radius: 3px
      padding: 30px 13px 20px 13px
      font-family: "Museo-300", Arial, sans-serif
      font-size: 12.5px
      line-height: 15px
      margin-right: 31.3px
      @media(max-width: 450px)
        width: 100%
        max-width: 300px
        margin-right: 0
        margin-bottom: 40px
        padding: 23px 17px 15px 18px
      &:last-child
        margin-right: 0
      a.card__text-green
        text-decoration: underline
        margin-bottom: 15px
        margin-top: 8px
        display: block
        text-align: right
      a.button
        display: block
        text-decoration: none
    &__image
      &__wrapper
        flex()
        margin-bottom: 26px
      &__info
        margin-right: 15px
        @media(max-width: 450px)
          display: none
      &__corp
        width: 86px
        height: 86px
        background: url("../img/icons/corp-bg.svg") no-repeat 50% 50%
        box-sizing: border-box
        padding: 20px 23px
        color: #fff
        margin-bottom: 12px
        .corp
          font-family: "Museo-500", Arial, sans-serif
          font-weight: bold
          font-size: 26.5px
          line-height: 30px
      &__standart
        width: 86px
        height: 86px
        background: url("../img/icons/standart-bg.svg") no-repeat 50% 50%
        box-sizing: border-box
        color: #fff
        flex(center, center, row)
        font-size: 14px
        line-height: 120%
        font-family: "Museo-500", Arial, sans-serif
        text-transform: uppercase
        font-weight: bold
        text-align: center
    &__image
      width: 270px
      height: 264px
      flex(center, center, row)
      img
        width: auto
        max-width: 270px
        height: 100%
        max-height: 264px
    &__title
      font-size: 19px
      line-height: 23px
      color: #3A393C
      text-align: center
      font-family: "Museo-500", Arial, sans-serif
      margin-bottom: 7px
    &__subtitle
      font-size: 12.5px
      line-height: 15px
      text-align: center
      letter-spacing: 0.26px
      color: #C4C4C4
      font-family: "Museo-500", Arial, sans-serif
      margin-bottom: 28px
    &__row
      font-family: "Museo-500", Arial, sans-serif
      font-size: 12.5px
      line-height: 15px
      color: #3A393C
      flex(space-between, center, row)
      padding: 8.6px 0
      border-bottom: 1px solid #D3D4D7
      box-sizing: border-box
      &+.card__text-gray
        margin-top: 12px
      &-price
        margin-bottom: 22px
        padding: 0
        border-bottom: none
    &__text-small
      font-size: 11px
      line-height: 16px
      letter-spacing: -0.26px
      font-family: "Museo-500", Arial, sans-serif
      text-align: right
    &__text-gray
      color: #C4C4C4
    &__text-green
      color: #3EA938
    &__text--medium
      font-size: 28px
      line-height: 34px
      font-family: "Museo-500", Arial, sans-serif
      color: #3A393C

