@import "../mixin/flex.styl"

.mailing-form
  &__wrapper
    max-width: 780px
    width: 100%
    margin: 0 auto
    border: 1px solid #DCDCDC
    border-radius: 3px
    box-sizing: border-box
    padding: 50px 80px
    margin-bottom: 100px
    position: relative
    @media(max-width: 1024px)
      padding: 40px 20px
    &:after
      content: ''
      display: block
      width: 70px
      height: 70px
      position: absolute
      top: -35px
      right: 30px
      background: url("../img/icons/mailing-form-bg.svg")
  &__text
    font-size: 14px
    line-height: 17px
    font-family: "Museo-300", Arial, sans-serif
    color: #A3A3A3
    margin-bottom: 8px
  &__title
    font-size: 24px
    line-height: 34px
    color: #353535
    font-family: "Museo-500", Arial, sans-serif
    margin-bottom: 30px
  &
    flex()
    .input__wrapper
      width: 100%
      max-width: 380px
      padding: 21px 30px 20px 30px
      box-sizing: border-box
      border: 1px solid #DCDCDC
      font-family: "Museo-300", Arial, sans-serif
      margin-right: 20px
      input[type="text"]
        border: none
        box-shadow: none
        outline: none
        padding: 0
        font-family: "Museo-300", Arial, sans-serif
        font-size: 14px
        line-height: 17px
        width: 100%
        &:placeholder
          color: #A3A3A3
          font-family: "Museo-300", Arial, sans-serif
    .button
      width: 220px
      height: 60px
      padding: 23px 0 20px 0
      background-color: #641B51
      border: none
    @media(max-width: 1024px)
      margin-block-end: 0
      &__wrapper
        margin-bottom: 80px
        padding: 50px 40px
      &__text
        font-size: 14px
        line-height: 17px
      &__title
        font-size: 24px
        line-height: 34px
      .input__wrapper
        max-width: 380px
        margin-right: 20xp
        margin-bottom: 0
      .button
        width: 100%
        max-width: 220px
    @media(max-width: 768px)
      &__wrapper
        margin-bottom: 80px
        max-width: 620px
     @media(max-width: 450px)
       flex-wrap: wrap
       &__wrapper
        max-width: 300px
        padding: 40px 20px
        &:after
          width: 50px
          height: 50px
          background-size: cover
          top: -25px
          right: 20px
       &__title
          font-size: 20px
          line-height: 24px
       &__text
          font-size: 12px
          line-height: 14px
       .input__wrapper
        margin-bottom: 20px
        margin-right: 0
       .button
          max-width: 100%
          font-size: 12px
          line-height: 14px



