@import "../mixin/flex.styl"

.news
  &__items
    flex()
    align-content: fkex-start
    flex-wrap: wrap
    width: 100%
    box-sizing: border-box
    @media(max-width: 450px)
      justify-content: center
  &__item
    width: 300px
    min-width: 300px
    margin-right: 20px
    margin-bottom: 40px
    text-decoration: none
    @media(min-width: 1261px)
      &:nth-child(4n+4)
        margin-right: 0
    @media(max-width: 1260px) and (min-width: 1024px)
      &:nth-child(3n+3)
        margin-right: 0
    @media(max-width: 1022px) and (min-width: 620px)
      &:nth-child(2n+2)
        margin-right: 0
    @media(max-width: 620px)
      margin-right: 0

  &__img__wrapper
    width: 100%
    margin-bottom: 10px
    border-radius: 3px
    img
      width: 100%
      height: auto
  &__info
    font-size: 14px
    line-height: 17px
    font-family: "Museo-300", Arial, sans-serif
    color: #A3A3A3
    margin-bottom: 10px
  &__title
    font-size: 16px
    line-height: 26px
    color: #353535
    font-family: "Museo-500", Arial, sans-serif