.mailing-form__wrapper
    .mailing-form__text Подписаться на рассылку
    .mailing-form__title Будьте в курсе всех акций
    form(action="#").mailing-form
        .input__wrapper
            input(type="text" placeholder="Введите E-mail")
        input(type="submit" class="button" value="Подписаться")
