.news__items
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-1.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title «Главстрой Санкт-Петербург» вошел в число финалистов в конкурсе «Доверие потребителя»
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-2.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-3.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Старт продаж
        .news__title «Главстрой Санкт-Петербург» открыл продажи шестой очереди ЖК «Юнтолово»
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-4.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title ЖК «Юнтолово» — лучший региональный проект стандартного жилья в России
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-5.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title «Главстрой Санкт-Петербург» вошел в число финалистов в конкурсе «Доверие потребителя»
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-6.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-7.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title «Главстрой Санкт-Петербург» открыл продажи шестой очереди ЖК «Юнтолово»
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-8.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title ЖК «Юнтолово» — лучший региональный проект стандартного жилья в России
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-9.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title «Главстрой Санкт-Петербург» вошел в число финалистов в конкурсе «Доверие потребителя»
    a(href="#").news__item
        .news__img__wrapper
            img(src="img/card-10.png")
        .news__info
            span.news__date 29 сен 2020
            | /
            span.new__category Награды
        .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
