.sort__items
    a(href="#").sort__item.sort__item-active За все время
    a(href="#").sort__item 2019
    a(href="#").sort__item 2018
    a(href="#").sort__item 2017
    a(href="#").sort__item 2016
    a(href="#").sort__item 2015
    a(href="#").sort__item 2014
    a(href="#").sort__item 2013
select.js-choice-sort
    option(value="1") За все время
    option(value="2") 2019
    option(value="3") 2018
    option(value="4") 2017
    option(value="5") 2016
    option(value="6") 2015
    option(value="7") 2014
    option(value="8") 2013