.tabs__items
    a(href="#").tab__item.tab__item-active Все темы
    a(href="#").tab__item Ход строительства
    a(href="#").tab__item Награды
    a(href="#").tab__item СМИ
    a(href="#").tab__item Старт продаж
    a(href="#").tab__item Акции
    a(href="#").tab__item Ход строительства
    a(href="#").tab__item Награды
    a(href="#").tab__item СМИ
    a(href="#").tab__item Старт продаж
    a(href="#").tab__item Акции
    a(href="#").tab__item Акции
    a(href="#").tab__item Акции
    .tab__item.tab__item-more Еще
        .sub-tabs__items
select.select-tabs
    option(value="1") Все темы
    option(value="2") Ход строительства
    option(value="3") Награды
    option(value="4") СМИ

